@if (deviceConnected()) {
  @if (isChordLoaded()) {
    <app-toolbar-button
      tooltip="Disconnect from the connected device."
      icon="usb_off"
      (buttonClick)="disconnect()"
    ></app-toolbar-button>
  } @else {
    <div class="size-12 p-2">
      <mat-progress-spinner
        [diameter]="32"
        [strokeWidth]="4"
        [value]="chordLoadProgress()"
      ></mat-progress-spinner>
    </div>
  }
} @else {
  <app-toolbar-button
    [tooltip]="
      isWebSerialApiSupported
        ? 'Connect to device'
        : 'Web Serial API is not supported in this browser.'
    "
    [disabled]="!isWebSerialApiSupported"
    icon="usb"
    (buttonClick)="connect()"
  ></app-toolbar-button>
}
