<h2 mat-dialog-title>Save to Device</h2>
<mat-dialog-content class="!flex flex-col gap-3 !overflow-hidden">
  @if (loading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
    <div class="flex-none text-xl">
      Please confirm the changes to apply before saving, and make sure you have
      backed up your chords with the official device manager.
    </div>
    <mat-tab-group class="flex-1 flex overflow-hidden">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>{{ 'add' | iconGuard }}</mat-icon>
          Chords to be added
        </ng-template>
        <div class="flex-1 min-h-0 overflow-auto font-code text-lg">
          @for (chord of addedChords(); track $index) {
            <div>{{ chord }}</div>
          }
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>{{ 'edit' | iconGuard }}</mat-icon>
          Chords to be updated
        </ng-template>
        <div class="flex-1 min-h-0 overflow-auto font-code text-lg">
          @for (chord of updatedChords(); track $index) {
            <div class="flex items-center">
              <span>{{ chord.fullInput }} =&nbsp;</span>
              <span class="line-through">{{ chord.oldOutput }}</span>
              <mat-icon [inline]="true">{{
                'chevron_right' | iconGuard
              }}</mat-icon>
              <span>{{ chord.newOutput }}</span>
            </div>
          }
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>{{ 'remove' | iconGuard }}</mat-icon>
          Chords to be removed
        </ng-template>
        <div class="flex-1 min-h-0 overflow-auto font-code text-lg">
          @for (chord of removedChords(); track $index) {
            <div>{{ chord }}</div>
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton matDialogClose>Cancel</button>
</mat-dialog-actions>
